.header-content {
  padding-bottom: 5px;
}

.page-header-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
}

.horizontal-line {
  border-bottom: 1px solid;
}

.content {
  padding-top: 10px;
  width: 100%;
}

.container {
  padding: 15px;
  // width: 100%;
}
