<mat-toolbar  #matToolbar color="primary" style="background-color: rgb(67, 165, 165);" fxLayout="row">
    <mat-toolbar-row>
        <div *ngIf="showMenuButton" fxLayout="row" fxLayoutAlign="start center">
            <!-- <button mat-icon-button (click)="openDrawer($event)">
                <mat-icon>menu</mat-icon>
            </button> -->
            <span>Ship Management</span>
        </div>
        <div class="spacer"></div>
        <!-- <div class="nav-items">

        </div> -->
    </mat-toolbar-row>
</mat-toolbar>
