<modal-wrapper>
    <div headerText class="header-title">
        {{headerTitle}}
    </div>
    <div modalBody>
        <form [formGroup]="roomForm" fxLayout="column" id="roomForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Cabin Number</mat-label>
                <input matInput formControlName="CabinNumber" type="text">
            </mat-form-field>
            <div class="full-width" fxLayout="row" fxLayoutGap="5px">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Capacity</mat-label>
                    <input matInput formControlName="Capacity" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Fare</mat-label>
                    <input matInput formControlName="Fare" type="number">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div secondaryContent>
        <button mat-stroked-button color="primary" type="button" (click)="close()">Cancel</button>
    </div>
    <button primaryButton mat-raised-button color="primary" type="submit" form="roomForm">Save</button>
</modal-wrapper>
