<mat-drawer-container class="sidenav-container">
    <mat-drawer #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="background-color: rgb(67, 165, 165);" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
            <span>Bay One Admin</span>
                <mat-icon> directions_boat</mat-icon>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let nav of navigations"
                [ngClass]="{'primary-background-override color-white-override': activatedRoute==nav.route}" id="{{nav.route}}"
                [routerLink]="nav.route">
                <div class="full-width" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start end">
                    <mat-icon>{{nav.matIcon}}</mat-icon>
                    <span class="nav-text">{{nav.name}}</span>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="sub-container">
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        <div class="scroller-container">
            <app-content></app-content>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #toolbar>
    <app-toolbar (menuButton)="toggleDrawer(drawer)" [showMenuButton]="!drawer.opened"></app-toolbar>
</ng-template>
