app-side-nav{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    .sidenav-container{
      display: flex;
      flex: 1 1 auto;
      position: relative;
      height: 100%;
      width: 100%;
      mat-drawer {
        border-right: unset !important;
        box-shadow: 1px 0 4px -2px #242424;
        mat-list-item{
          width: 100%;
          .mat-list-item-content{
            width: 100%;
            .nav-text{
              font-size: 16px;
            }
          }
        }
      }
      .sidenav{
        width: 250px;
      }
      .sub-container{
        position: relative;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        width: 100%;
        min-width: 0;
        min-height: 0;
        .scroller-container{
          position: relative;
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          overflow-y: auto;
          flex: 1 1 0%;
        }
      }
    }
  }
  